//to reset element-ui default css
.el-container {
  height: 650px;
  .el-header {
    background-color: #409eff;
    color: #fff;
    position: relative;
  }
  .el-aside {
    border-right: solid 1px #ebeef5;
    background: #fff;
  }
  .el-main {
    padding: 0;
  }
}
.el-menu {
  border: 0;
  .el-menu-item,
  .el-submenu__title {
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  .is-active {
    background-color: #ecf5ff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: #409eff;
    }
  }
}
.previewimg {
  .el-dialog {
    .el-dialog__body {
      padding: 20px;
      max-height: 320px;
      overflow: auto;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
